*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#nav-content{
    background-color: #ff0000;
}

#ul-content{
    list-style: none;
    display: flex;
    width: 30%;
}

#li-content{
    padding: 30px;
    color: #fff;
}